[Unit]
Description=HostPanel Nginx
After=network.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStart=/opt/hostpanel/plugins/nginx/nginx
ExecReload=/opt/hostpanel/plugins/nginx/nginx -s reload
ExecStop=/opt/hostpanel/plugins/nginx/nginx -s stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
