[Unit]
Description=HostPanel Nginx
After=network.target

[Service]
Type=forking
PIDFile=/opt/hostpanel/nginx/logs/nginx.pid
ExecStart=/opt/hostpanel/nginx/sbin/nginx
ExecReload=/opt/hostpanel/nginx/sbin/nginx -s reload
ExecStop=/opt/hostpanel/nginx/sbin/nginx -s stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
